/* 
1. div로는 구분만 수행 (말 그대로 "틀"임) - width, height 지정
나머지 내부요소들에 각각 padding, margin 등 적용 
2. 가로로 요소 배치 시 float, 그 후 밑에있는 것 영향 없애기 clear
3. div의 width는 기본값이 auto로, 내부 요소의 크기대로 설정됨
*/

.container {
    width: 800px;
    height: 200px;
}

.post-text-area {
    width: 70%;
    height: 100%;
    float: left;
}

.post-img-area {
    width: 30%;
    height: 100%;
    float: left;
}

.post-author {
    width: 100%;
    height: 30%;
}



.profile-img {
    height: 80%;
    padding: 6px;
    border-radius: 100%;
    float: left;
}

.post-author-detail {
    height: 100%;
    float: left;
}

.post-author-detail h4 {
    margin: 0px;
    padding: 11px 4px 3px;
}

.post-author-detail p {
    margin: 0px;
    padding: 0px 4px 0px;
}

.post-name {
    width: 100%;
    height: 20%;
}

.post-name h4 {
    margin: 0px;
    padding: 8px;
}

.post-body {
    width: 100%;
    height: 50%;
}

.post-body p {
    margin: 0px;
    padding-left: 8px;
}